<ui:composition template="/facelets/adminTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="mainBody">
		<h:form id="pessoa" >
			<h:panelGrid columns="2" width="50%">
				<p:outputLabel for="nome" value="Nome Completo: " />
				<p:inputText id="nome" value="#{pessoaBean.pessoa.nomeCompleto}" size="50" maxlength="150" required="true"
								validatorMessage="Nome Completo não cadastrado"></p:inputText>
				
				<p:outputLabel for="genero" value="Gênero: " />
	        	<p:selectOneMenu id="genero" value="#{pessoaBean.pessoa.genero}" required="true">
	            	<f:selectItem itemLabel="Masculino" itemValue="M" />
	            	<f:selectItem itemLabel="Feminino" itemValue="F" />
	        	</p:selectOneMenu>
	        	
	        	<p:outputLabel for="dataNascimento" value="Data de Nascimento:" />
        		<p:calendar id="dataNascimento" value="#{pessoaBean.pessoa.dataNascimento}" pattern="dd-MM-yyyy" mask="true" 
        					required="true" navigator="true" />
				
				<p:outputLabel for="cpf" value="CPF: " />
				<p:inputMask mask="999.999.999-99" id="cpf" value="#{pessoaBean.pessoa.cpf}" size="20" required="true" ></p:inputMask>
				
				<p:outputLabel for="pai" value="Pai: " />
	        	<p:selectOneMenu id="pai" >
	            	<f:selectItem itemLabel="Selecione" itemValue="" />
<!-- 					<f:selectItem itemLabel="Feminino" itemValue="F" /> -->
				</p:selectOneMenu>
				
				<p:outputLabel for="mae" value="Mãe: " />
	        	<p:selectOneMenu id="mae" >
	            	<f:selectItem itemLabel="Selecione" itemValue="" />
<!-- 					<f:selectItem itemLabel="Feminino" itemValue="F" /> -->
				</p:selectOneMenu>
				
				<p:outputLabel for="municipio" value="Município Nascimento: " />
				<p:inputText id="municipio" value="#{pessoaBean.pessoa.municipio}" size="50" maxlength="150" required="true"></p:inputText>
				
				<p:outputLabel for="uf" value="UF Nascimento: " />
				<p:inputText id="uf" value="#{pessoaBean.pessoa.unidadeFederativa}" size="2" maxlength="2" required="true"></p:inputText>
				
				<p:outputLabel for="tel_celular" value="Telefone Celular: " />
				<p:inputMask mask="(99)9999-9999" id="tel_celular" value="#{pessoaBean.pessoa.telefoneCelular}" size="14" required="true" ></p:inputMask>
				
				<p:outputLabel for="tel_fixo" value="Telefone Fixo: " />
				<p:inputMask mask="(99)9999-9999" id="tel_fixo" value="#{pessoaBean.pessoa.telefoneFixo}" size="14" ></p:inputMask>
				
				<p:outputLabel for="email" value="E-mail: " />
				<p:inputText id="email" value="#{pessoaBean.pessoa.email}" size="50" maxlength="150">
					<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
				</p:inputText>
				
				<p:fileUpload fileUploadListener="#{pessoaBean.carregaArquivo}" previewWidth="100" value="#{pessoaBean.foto}" mode="advanced" skinSimple="false" sizeLimit="5242880" allowTypes="/(\.|\/)(jpg|png)$/"
							  invalidFileMessage="Arquivo deve ser JPG ou PNG"
							  invalidSizeMessage="Arquivo deve ter no máximo 5Mb"/>
				
				<h:panelGrid columns="2" style="horizontal-align: center; cellspacing: 5px">
					<p:commandButton id="submit" value="Salvar" action="#{pessoaBean.salvar}" update="msg" ></p:commandButton>
					<p:commandButton id="cancel" value="Cancelar" action="pessoaLista.xhtml"></p:commandButton>
				</h:panelGrid>
								
				<p:growl id="msg" showDetail="true" escape="false" />
			</h:panelGrid>
		</h:form>
	</ui:define>

</ui:composition>