<ui:composition template="/facelets/adminTemplate.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="mainBody">
		<h:form>
			<p:dataTable var="pessoa" value="#{pessoaListaBean.pessoas}" emptyMessage="Não há pessoas cadastradas"
						 rows="10" paginator="true" widgetVar="tabelaPessoas">
						 
				<f:facet name="header">
		            <p:outputPanel>
		                <h:outputText value="Pesquisar:" />
		                <p:inputText id="filtro" onkeyup="PF('tabelaPessoas').filter()" style="width:150px" />
		            </p:outputPanel>
		        </f:facet>
        
			    <p:column headerText="Foto">
			        <h:outputText value="#{pessoa.miniaturaFoto}" />
			    </p:column>
			 
			    <p:column headerText="Nome Completo">
			        <h:outputText value="#{pessoa.nomeCompleto}" />
			    </p:column>
			 
			    <p:column headerText="CPF">
			        <h:outputText value="#{pessoa.cpf}" />
			    </p:column>
			 
			    <p:column headerText="Telefone Celular">
			        <h:outputText value="#{pessoa.telefoneCelular}" />
			    </p:column>
			    
			    <p:column headerText="Nome da Mãe">
			        <h:outputText value="teste" />
			    </p:column>
			    
			    <p:column style="width:32px;text-align: center">
		             <p:commandButton action="#{pessoaListaBean.editaPessoa}" icon="ui-icon-search" title="Edição">
		                <f:setPropertyActionListener value="#{pessoa}" target="#{pessoaListaBean.pessoaSelecionada}" />        
		            </p:commandButton>
		        </p:column>
			    
			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>