<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	>

<h:head>

	<style type="text/css">
		.ui-widget,.ui-widget .ui-widget {
			font-size: 90% !important;
		}
	</style>
</h:head>

<h:body>
	<p:growl id="growl" showDetail="true" sticky="false" />	
	<h:form>
			<p:menubar>
				<p:menuitem value="Novo" url="pessoa.xhtml" />

				<f:facet name="options">
					<p:inputText style="margin-right:10px" title="Search" />
				</f:facet>
			</p:menubar>
		</h:form>
		
		<ui:insert name="mainBody">Corpo principal da pagina</ui:insert>
	
</h:body>

</html>